
<form action="/blog/edit/{{{blog._id}}}" method="post">
    <div>
        <input type="text" name="title" id="" value="{{{blog.title}}}">
    </div>
    <div>
        <textarea name="content" id="" cols="30" rows="10">{{{blog.content}}}</textarea>
    </div>
    <input type="submit" value="Submit">
</form>