<style>
        
</style>
<footer>
    <p>Footer area</p>
    <div>
        <ul>
            <li><a href="/">Trip Blog</a></li>
            <li><a href="/user/login">Writer</a></li>
            <li><a href="/user/signup">Become a writer</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about">About us</a></li>
        </ul>
    </div>
</footer>