<div>    
    <h2>{{{entertainment.title}}}</h2>
    <p>{{{entertainment.content}}}</p>
    <img src="/images/{{{entertainment.blogImage1}}}" alt="">
    <p>{{{entertainment.user.username}}}</p>
</div>